# Ambiente virtual
venv/
.venv/
env/

# Cache Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos sensíveis
.env

# Logs
*.log

# IDEs e editores
.vscode/
.idea/
*.swp
*.swo

# Arquivos do sistema
.DS_Store
Thumbs.db